<%- include('partials/head') %>

<body>
  <main>
    <section id="container">
      <h1>Sucesso <%= locals.user.name %>! Você está logado.</h1>
<br>
      <p><a href="/">Voltar</a></p>
    </section>
  </main>
</body>
